MODES=[{"measure":"tag:2017-01-01:readership:open-edition","name":"open-edition-views","startDate":"2013-02-01","regex":["http:\\/\\/books\\.openedition\\.org\\/obp\\/[0-9]{1,4}"], "config": [{"name": "exclude-type", "value": "livre"}]},{"measure":"tag:2017-01-01:downloads:open-edition","name":"open-edition-downloads","startDate":"2013-02-01","regex":["http:\\/\\/books\\.openedition\\.org\\/obp\\/(pdf|epub)\\/[0-9]{1,4}"]}]
EXCLUDED_URLS=[]
IGNORED_TYPES=["pageliminaire","avantpropos","preface","source","index","annexe","bibliographie","postface"]
OE_API_TOKEN=somerandomapitokenobtainedfromoe
OE_API_PUBLISHER=obp
OUTDIR=/usr/src/app/output
CACHEDIR=/usr/src/app/cache
URI_API_ENDP=https://identifier.translation.service/translate
AUTH_API_ENDP=https://authentication.service/tokens
URI_API_USER=admin_user@openbookpublishers.com
URI_API_PASS=some_secret_password
URI_SCHEME=info:doi
URI_STRICT=true
CLEAN_FILE_TYPE=true
REPROCESS_REPORTS=true
